<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/company.css">
    <title>Add Notice</title>
</head>
<body>
    <% if(message &&message.length>0){  %>
        <div class="alert alert-success">
        <%= message %>
        </div>
      <% } %>

      <header class = "header">
        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
            <li class="menu__group"><a class="menu__link r-link text-underlined"  href=<%= profile %> > Home
            </a></li>
            <li class="menu__group active"><a class="menu__link r-link text-underlined" href=<%= Addnotificationlink %> > Add Notice</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= edit_profile%> >Edit Profile</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= applied_students%> >Applied Students</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= log_out %> >Logout</a></li>
          </ul>
        </nav>          
</header>


<div class = "container">
    <div class = "submit-exp">
        <form class="form" style="height: 400px;" action=<%= Addnotificationlink %> method="POST">
            <h2>Add New Notice</h2>
            <p>
                <textarea class="form-control" id="notice" rows="6" name = "notice" placeholder="Write Notice"></textarea>
            </p>
            <button class = "btn" type="submit">Post</button>
          </form>
    </div>
    
</div>

   
     
</body>
</html>