<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/student.css">
    <title>Submit Experience</title>
</head>
<body>
    <div class = "container">
        
        <div class = "row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link " href=<%=  home %>>Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href=<%=  experiencelink %>>Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=<%=  confirm_companieslink %>> Confirm Companies</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href=<%=  studentslink %> >Students</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href=<%=  companieslink %> >Companies</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href=<%=  notificationlink %> >Notifications</a>
                  </li>
                  <% if(main){  %>
                    <li class="nav-item">
                        <a class="nav-link" href=<%=  settings %> >Settings</a>
                      </li>
                    </div>
                  <% } %>
              </ul>
        </div><br><br>
<div class = "container">
    <div class = "submit-exp">
        <form class="form" action=<%= Addnotificationlink %> method="POST">
            <h2>Add New Notice</h2>
            <p>
                <textarea class="form-control" id="notice" rows="6" name = "notice" placeholder="Write Notice"></textarea>
            </p>
            <button class = "btn" type="submit">Post</button>
          </form>
    </div>
    
</div>

   
     
</body>
</html>
