<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" conten="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/student.css">
    <style>
        .row-content {
            margin:0px auto;
            padding: 10px 0px 10px 0px;
            border-bottom: 1px ridge;
            min-height:30px;
        }
    </style>
</head>
<body>
    <div class = "container">
        <div class = "container">
            <div class = "row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href=<%=  home %>>Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href=<%=  experiencelink %>>Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=<%=  confirm_companieslink %>> Confirm Companies</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href=<%=  studentslink %> >Students</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href=<%=  companieslink %> >Companies</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href=<%=  notificationlink %> >Notifications</a>
                      </li>
                      <% if(main){  %>
                        <li class="nav-item">
                            <a class="nav-link" href=<%=  settings %> >Settings</a>
                          </li>
                        </div>
                      <% } %>
                      

                  </ul>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h2>Admin Profile</h2>
            </div>
        </div>
        <div class = "row justify-content-center">
            <div class = "col-md-3">
                <div class = "card">
                    <img class="card-header card-img-top" src="/img/blank_profile.png" alt="Profile">
                    <div class="card-body">
                        <h5 class="card-title"><%= name %></h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
       <div class ="row justify-content-center">
           <div class = "col-md-9">
               <div class = "card">
                  <div class="card-header">
                      Personal Information
                  </div>
                  <div class = "card-body">
                      <div class = "row row-content">
                          <div class = "col-md-3">
                              <h6>Name : </h6>
                          </div>
                          <div class = "col-md-6">
                              <h6><%= name %></h6>
                          </div>
                      
                    </div>
                  </div>
               </div>
           </div>
       </div>
    </div>
</body>
</html>  -->



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" conten="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header class = "header">
        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
           
            <li class="menu__group active"><a class="menu__link r-link text-underlined" href=<%=  home %>>Home</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  experiencelink %>>Experiences</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  confirm_companieslink %>> Confirm Companies</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  studentslink %> >Students</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  companieslink %> >Companies</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  notificationlink %> >Notifications</a></li>
            <% if(main){  %>
                <li class="menu__group"><a class="menu__link r-link text-underlined"
                    href=<%=  settings %> >Settings</a>
                  </li>
                </div>
              <% } %>
          </ul>
        </nav>          
</header>

<div class  = "card-student">
    <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="/img/blank_profile.png">
                  </div>
              <div class="team-content">
                <h3 class="name"><%= name %> </h3>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
        

      <div class = "container">
        <div class="panel">
            <div class="bio-graph-heading">
                Personal Information
            </div> <br><br>
            <div class="panel-body bio-graph-info">
                <div class="row">
                    <div class="bio-row">
                        <p><span>Name </span>: <%= name %></p>                    
                </div>
            </div>
        </div>
    </div>

    </div>
</body>
</html> 