<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" conten="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/student.css">
    <style>
        .row-content {
            margin: 0px auto;
            padding: 10px 0px 10px 0px;
            border-bottom: 1px ridge;
            min-height: 30px;
        }
    </style>
</head>

<body>

    <header class="header">
        <nav class="page__menu page__custom-settings menu">
            <ul class="menu__list r-list">
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= profile %>> Home
                    </a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  read_experience %>>Read
                        Experiences</a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  write_experience %>>Write
                        Experiences</a></li>
                <li class="menu__group active"><a class="menu__link r-link text-underlined"
                        href=<%= company_apply %>>Company</a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= applied %>>Applied
                        Companies</a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= notificationlink %> >Notices</a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= edit_profile %>>Edit
                        Profile</a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= log_out %>>Logout</a></li>
            </ul>
        </nav>
    </header><br><br>

    <div class="container">
        <div class="panel">
            <div class="bio-graph-heading">
                Company Profile
            </div> <br><br>
            <div class="panel-body bio-graph-info">
                <div class="row">
                    <div class="bio-row">
                        <p><span>Name </span>: <%= companyname %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>About </span>: <%= about_company %> </p>
                    </div>
                </div>
            </div><br><br>
            <div class="bio-graph-heading">
                Company Information
            </div> <br><br>
            <div class="panel-body bio-graph-info">
                <div class="row">
                    <div class="bio-row">
                        <p><span>Email </span>: <%= email %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Website Link </span>: <%= website_link %> </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Organisation Type </span>: <%= organization_type %> </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Industry Sector </span>: <%= industry_sector %> </p>
                    </div>
                    <div class="bio-row">
                        <p><span>About Company </span>: <%= about_company %> </p>
                    </div>
                </div>
            </div> <br><br>
            <div class="bio-graph-heading">
                Job Profile Details
            </div> <br><br>
            <div class="panel-body bio-graph-info">
                <div class="row">
                    <div class="bio-row">
                        <p><span>Profile </span>: <%= job_profile %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Pass out Batch </span>: <%= pass_out_batch %> </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Recruitment Type </span>: <%=recruitment_type %> </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Locations </span>: <%= location %> </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Tentative Date of Joining </span>: <%=tentative_joining_date %> </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Pass out Batch </span>: <%= pass_out_batch %> </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Job Description </span>: <%= job_description %> </p>
                    </div>
                </div>
            </div><br><br>
            <div class="bio-graph-heading">
                Eligibility Criteria
            </div> <br><br>
            <div class="panel-body bio-graph-info">
                <div class="row">
                    <div class="bio-row">
                        <p><span>Eligible Branches </span>: <%= eligible_branch %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Minimum CGPA </span>: <%= min_cgpa %> </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Class 10th Percentage</span>: <%= min_10_percent %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Class 12th Percentage</span>: <%= min_12_percent %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Last Date to Apply </span>: <%= deadline_date %></p>
                    </div>

                </div><br><br>

                <div class="bio-row">
                    <a class="btn applybtn" href="/student/login/<%= studentId %>/<%=companyId %>/apply">Apply</a>
                </div>
            </div>
        </div>


</body>

</html>