<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/student.css">
    <title>New Companies Applied</title>
</head>
<body>
    <div class = "container">
        
            <div class = "row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/login/home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/exp">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/ConfirmCompany"> Confirm Companies</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/admin/login/Students">Students</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/admin/login/Companies">Companies</a>
                      </li>
                    
                  </ul>
            </div><br><br>
        <div class = "row">
            <div class = "col-md-8">
                <% companies.forEach( (company) => { %>
                    <div class = "row">
                        <div class = "col-md-8 offset-md-2">
                            <div class = "card">
                                <div class="card-body">
                                    <h5 class="card-title"><%= company.companyname %></h5>
                                    <h6 class="card-subtitle"><%= company.recruitment %></h6>
                                    <h6 class="card-subtitle"><%= company.batch %></h6>
                                    <h6 class="card-subtitle"> <%= company.date %></h6><br>
                                    <h6 class = "card-text"><%= company.job_profile %></h6>
                                    <h6 class = "card-text"><%= company.org_type %></h6>
                                    <form action="/admin/confirmCompany" method="POST">
                                        <input type="hidden" name = "id" value = <%= company._id %>>
                                    <button class="btn btn-primary" formaction="/admin/Company/confirmcompany" type="submit">Confirm</button>
                                    <button class="btn btn-danger" formaction="/admin/Company/deletecompany" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <br>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>
