<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/student.css">
    <title>Companies</title>
</head>
<body>

    <header class = "header">
        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
            <li class="menu__group"><a class="menu__link r-link text-underlined"  href=<%= profile %> > Home
            </a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  read_experience %> > Experiences</a></li>
            <li class="menu__group active"><a class="menu__link r-link text-underlined" href=<%= company_apply %> >Companies</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= notificationlink %> >Notices</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= edit_profile %> >Edit Profile</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= log_out %> >Logout</a></li>
          </ul>
        </nav>          
</header><br><br>

    <div class = "container">
        <a class = "addedlink" href= <%= applied %> >Applied Companies</a><br><br><br><br>
        <% companies.forEach( (company) => { %>
            <div class = "read-exp">
                <div class="courses-container">
                    <div class="course">
                        <div class="course-preview">
                            <h6><%= company.recruitment %></h6><br>
                            <h6><%= company.batch %></h6><br>

                        </div>
                        <div class="course-info">
                            <h2><%= company.companyname %></h2>
                                    <h6><%= company.job_profile %></h6>
                                    <p><%= company.date %></p><br>
                                    <p><%= company.org_type %></p>
                            <a class="btn btn-read-exp" href= "/student/login/<%= studentId %>/<%= company._id %>/apply" >Apply</a>
                            <a class ="btn btn-read-exp2"  href= "/student/login/<%= studentId %>/<%= company._id %>/details" >Details</a>
                            
                        </div>
                    </div>
            </div>
            </div>

        <% }) %>
    </div>

</body>
</html>