<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/student.css">
    <title>Enter Details</title>
</head>
<body>
    <% if(message &&message.length>0){  %>
        <div class="alert alert-success">
        <%= message %>
        </div>
      <% } %>

    <header class = "header">

        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
            <li class="menu__group"><a class="menu__link r-link text-underlined"  href=<%= profile %> > Home
            </a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  read_experience %> >Experiences</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= company_apply %> >Companies</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= notificationlink %> >Notices</a></li>
            <li class="menu__group active"><a class="menu__link r-link text-underlined" href=<%= edit_profile %> >Edit Profile</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= log_out %> >Logout</a></li>
          </ul>
        </nav>          
</header>
 <br><br><br>

<div class = "container">
    <a class="addedlink" href=<%=  change_pswrd %>>Change Password</a><br><br><br>
    <div class="panel">
        <div class="bio-graph-heading">
            Edit your Profile Information
        </div> <br><br>

    <form class = "edit-profile-form" action=<%= link %> method="POST">
        
        <div class="panel-body bio-graph-info">
            <div class="row">
                <div class="bio-row">
                    <p><span> First Name </span>: 
                        <input type="text"  id = "firstname" name = "firstname" placeholder="First Name" required  value=<%= firstname %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Last Name </span>: 
                        <input type="text"  id = "lastname" name = "lastname" placeholder="Last Name" required  value=<%= lastname %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Roll Number </span>: 
                        <input type="text" id = "college_id" name = "college_id" placeholder="Roll Number" required  value=<%= college_id %> >
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Degree </span>: 
                        <input type="text" id = "degree" name = "degree" placeholder="Degree" required value=<%= degree %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Expected Graduation Year </span>: 
                        <input type="text" id = "grad" name = "grad" placeholder="Expected Graduation" required value=<%= grad %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Branch (Format eg: Computer Science) </span>: 
                        <input type="text" id = "branch" name = "branch" placeholder="Branch" required value=<%= branch %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Personal Email </span>: 
                        <input type="email" id = "personal_email" name = "personal_email" placeholder="Personal Email" required value="<%= personal_email %> ">
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Mobile </span>: 
                        <input type="text" id = "contact_no" name = "contact_no" placeholder="Contact Number" required value=<%= contact_no %> >
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>CGPA </span>: 
                        <input type="text" id = "cgpa" name = "cgpa" placeholder="CGPA" required value=<%= cgpa %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Active backlogs </span>: 
                        <input type="text" id = "active_backlogs" name = "active_backlogs" placeholder="Active Backlogs" required value=<%= active_backlogs %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Class 10th Percentage </span>: 
                        <input type="text" id = "percent_10" name = "percent_10" placeholder= "10th percentage" required value=<%= percent_10 %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Class 10th Board </span>: 
                        <input type="text"  id = "board_10" name = "board_10" placeholder="Board" required value =<%= board_10 %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Class 12th Percentage </span>: 
                        <input type="text" id = "percent_12" name = "percent_12" placeholder= "12th percentage" required  value =<%= percent_12 %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Class 12th Board </span>: 
                        <input type="text" id = "board_12" name = "board_12" placeholder="Board" required  value =<%= board_12 %> >
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Address </span>: 
                        <input type="text" id = "address" name = "address" placeholder="Address" required value =<%= address %> >
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>City </span>: 
                        <input type="text" id = "city" name = "city" placeholder= "City" required  value =<%= city %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>State </span>: 
                        <input type="text" id = "state" name = "state" placeholder="State" required value =<%= state %>>
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>Country </span>: 
                        <input type="text" id = "country" name = "country" placeholder="Country" required value =<%= country %>> 
                    </p>
                </div>
                <div class="bio-row">
                    <p><span>LinkdIn profile link </span>: 
                        <input type="text" id = "linkdin" name = "linkdin" placeholder="Linkdin Profile Link" required  value =<%= linkdin %> > 
                    </p>
                </div>
                <div class="bio-row">
                    <button class = "btn" type="submit">Submit Details</button>
                </div>
                <div class="bio-row">
                </div>
                <div class="bio-row">
                </div>
                <div class="bio-row">
                </div>
            </div>
        </div>
    </div>
</form>
<div class="panel">
    <div class="bio-graph-heading">
        Resume Updation
    </div> <br><br>
    <form class = "edit-profile-form" action=<%= upload_resume %> method="POST" enctype = "multipart/form-data">
        
        <div class="panel-body bio-graph-info">
            <div class="row">
                <div class="bio-row">
                    <p><span> Upload Resume </span>: 
                        <input type="file" id = "resume" name = 'resume'>
                    </p>
                </div>
                <div class="bio-row">
                    <button class = "btn" type="submit">Change Resume</button>
                </div>
           </div>
        
    </div>
</form> 
</div>
                    
                   
            

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(document).ready(function() {
    let imagesPreview = function(input, placeToInsertImagePreview) {
      if (input.files) {
        let filesAmount = input.files.length;
        for (i = 0; i < filesAmount; i++) {
          let reader = new FileReader();
          reader.onload = function(event) {
            $($.parseHTML("<img>"))
              .attr("src", event.target.result)
              .appendTo(placeToInsertImagePreview);
          };
          reader.readAsDataURL(input.files[i]);
        }
      }
    };
    $("#resume").on("change", function() {
      imagesPreview(this, "div.preview-images");
    });
    
});
    
    
</script>
</body>
</html>
