<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/student.css">
    <title>Experiences</title>
</head>
<body>
  <header class = "header">
    <nav class="page__menu page__custom-settings menu">
      <ul class="menu__list r-list">
       
        <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  home %>>Home</a></li>
        <li class="menu__group active"><a class="menu__link r-link text-underlined" href=<%=  experiencelink %>>Experiences</a></li>
        <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  confirm_companieslink %>> Confirm Companies</a></li>
        <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  studentslink %> >Students</a></li>
        <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  companieslink %> >Companies</a></li>
        <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  notificationlink %> >Notifications</a></li>
        <% if(main){  %>
            <li class="menu__group"><a class="menu__link r-link text-underlined"
                href=<%=  settings %> >Settings</a>
              </li>
            </div>
          <% } %>
          <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  logOut %> >Log Out</a></li>   
      </ul>
    </nav>          
</header>
            
            <br><br>


            <div class = "row">
              <div class = "col-12">
                <% experience.forEach( (exp) => { %>
                      <div class = "read-exp">
                          <div class="courses-container">
                              <div class="course">
                                  <div class="course-preview">
                                    <h5 class="card-title"><%= exp.company %></h5>
                                    <h6 class="card-subtitle"><%= exp.branch %></h6>
                                    <h6 class="card-subtitle"><%= exp.choice %></h6>
                                    <h6 class="card-subtitle"> <%=exp.rollno %></h6><br>
                                  </div>
                                  <div class="course-info">
                                    <p class = "card-text"><%= exp.exp %></p>
                                    <form action="/admin/confirmexp" method="POST">
                                        <input type="hidden" name = "id" value = <%= exp._id %>>
                                    <button class="btn btn-primary" formaction=<%= confirmexp %> type="submit">Confirm</button>
                                    <button class="btn btn-danger" formaction=<%= deleteexp %> type="submit">Delete</button>
                                    </form>
                                  </div>
                              </div>
                      </div>
                  <% }) %>
              </div>
          </div>
      </div>
      
</body>
</html>
