<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Experiences</title>
</head>
<body>
    <div class = "container">
        <div class = "row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" href=<%= profile %> >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href= <%= read_experience %> >Read Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=<%= write_experience %> >Write Experiences</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href=<%= company_apply%> >Company </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href=<%= applied%> >Applied Companies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=<%= edit_profile%> >Edit Profile</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href=<%= log_out%> >Log Out</a>
                  </li>
              </ul>
        </div>
        <br><br>
        <div class = "row">
            <div class = "col-12">
                <% experience.forEach( (exp) => { %>
                    <div class = "row">
                        <div class = "col-md-8 offset-md-2">
                            <div class = "card">
                                <div class="card-body">
                                    <h5 class="card-title"><%= exp.company %></h5>
                                    <h6 class="card-subtitle"><%= exp.branch %></h6><br>
                                    <h6 class="card-subtitle"><%= exp.choice %></h6><br>
                                    <h6 class="card-subtitle"> <%=exp.rollno %></h6><br>
                                    <p class = "card-text"><%= exp.exp %></p>
                                </div>
                            </div>
                        </div>
                    </div> <br>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>
