<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" conten="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/student.css">
   <style>
        .row-content {
    margin:0px auto;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px ridge;
    min-height:30px;
}
    </style>
</head>
<body>

    <header class = "header">
        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
            <li class="menu__group"><a class="menu__link r-link text-underlined"  href=<%= profile %> > Home
            </a></li>
            <li class="menu__group active"><a class="menu__link r-link text-underlined" href=<%=  read_experience %> >Read Experiences</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= company_apply %> >Companies</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= notificationlink %> >Notices</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= edit_profile %> >Edit Profile</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= log_out %> >Logout</a></li>
          </ul>
        </nav>          
</header>
<br><br>
<div class= "container">
    <div class="panel">
        <div class="bio-graph-heading">
            <%=company %> Interview Experience
        </div> <br><br>
        <div class="panel-body bio-graph-info">
            <div class="row">
                <div class="bio-row">
                    <p><span>Branch </span>: <%= branch %></p>
                </div>
                <div class="bio-row">
                    <p><span>Type </span>: <%= choice %></p>
                </div>
                <div class="bio-row">
                    <p><%= exp %></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
