<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/student.css">
    <title>Experiences</title>
</head>
<body>
    <div class = "container">
        
            <div class = "row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link " href=<%=  home %>>Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href=<%=  experiencelink %>>Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=<%=  confirm_companieslink %>> Confirm Companies</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href=<%=  studentslink %> >Students</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href=<%=  companieslink %> >Companies</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href=<%=  notificationlink %> >Notifications</a>
                      </li>
                      <% if(main){  %>
                        <li class="nav-item">
                            <a class="nav-link" href=<%=  settings %> >Settings</a>
                          </li>
                        </div>
                      <% } %>
                  </ul>
            </div><br><br>
        <div class = "row">
            <div class = "col-md-8">
                <% notices.forEach( (notice) => { %>
                    <div class = "row">
                        <div class = "col-md-8 offset-md-2">
                            <div class = "card">
                                <div class="card-body">
                                    <h5 class="card-title"><%= notice.created_by %></h5>
                                    <h6 class="card-subtitle"><%= notice.date %></h6>
                                    <p class = "card-text"><%= notice.notice %></p>
                                </div>
                            </div>
                        </div>
                    </div> <br>
                <% }) %>
            </div>
            <a class="nav-link" href=<%=  Addnotificationlink %> > Add Notifications</a>
        </div>

    </div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <!-- <link rel="stylesheet" href="/css/student.css"> -->
    <title>Experiences</title>
</head>
<body>
  <header class = "header">
    <nav class="page__menu page__custom-settings menu">
      <ul class="menu__list r-list">
       
        <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  home %>>Home</a></li>
        <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  experiencelink %>>Experiences</a></li>
        <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  confirm_companieslink %>> Confirm Companies</a></li>
        <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  studentslink %> >Students</a></li>
        <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  companieslink %> >Companies</a></li>
        <li class="menu__group active"><a class="menu__link r-link text-underlined" href=<%=  notificationlink %> >Notifications</a></li>
        <% if(main){  %>
            <li class="menu__group"><a class="menu__link r-link text-underlined"
                href=<%=  settings %> >Settings</a>
              </li>
            </div>
          <% } %>
      </ul>
    </nav>          
</header>
            <br><br>

            <div class = "container">
              <a class = "addedlink" href= <%= Addnotificationlink %> >Add Notifications</a><br><br><br><br>
              <% notices.forEach( (notice) => { %>
                  <div class = "read-exp">
                      <div class="courses-container">
                          <div class="course">
                              <div class="course-preview">
                                <h5 class="card-title"><%= notice.created_by %></h5>
                                <h6 class="card-subtitle"><%= notice.date %></h6>
                              </div>
                              <div class="course-info">
                              
                                <p class = "card-text"><%= notice.notice %></p>
                                
                              </div>
                          </div>
                  </div>
                 
                  </div>
                  
              <% }) %>
              
  </div>
  
        
</body>
</html>