<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/student.css">
    <title>Experiences</title>
</head>
<body>
    <div class = "container">
        
            <div class = "row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link " href=<%=  home %>>Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href=<%=  experiencelink %>>Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=<%=  confirm_companieslink %>> Confirm Companies</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href=<%=  studentslink %> >Students</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href=<%=  companieslink %> >Companies</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href=<%=  notificationlink %> >Notifications</a>
                      </li>
                      <% if(main){  %>
                        <li class="nav-item">
                            <a class="nav-link" href=<%=  settings %> >Settings</a>
                          </li>
                        </div>
                      <% } %>
                  </ul>
            </div><br><br>
        <div class = "row">
            <div class = "col-md-8">
                <% notices.forEach( (notice) => { %>
                    <div class = "row">
                        <div class = "col-md-8 offset-md-2">
                            <div class = "card">
                                <div class="card-body">
                                    <h5 class="card-title"><%= notice.created_by %></h5>
                                    <h6 class="card-subtitle"><%= notice.date %></h6>
                                    <p class = "card-text"><%= notice.notice %></p>
                                </div>
                            </div>
                        </div>
                    </div> <br>
                <% }) %>
            </div>
            <a class="nav-link" href=<%=  Addnotificationlink %> > Add Notifications</a>
        </div>

    </div>
</body>
</html>