<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" conten="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- <link rel="stylesheet" href="/css/student.css"> -->
</head>
<body>

    <header class = "header">
            <nav class="page__menu page__custom-settings menu">
              <ul class="menu__list r-list">
                <li class="menu__group active"><a class="menu__link r-link text-underlined"  href=<%= profile %> > Home
                </a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  read_experience %> >Experiences</a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= company_apply %> >Companies</a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= notificationlink %> >Notices</a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= edit_profile %> >Edit Profile</a></li>
                <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= log_out %> >Logout</a></li>
              </ul>
            </nav>          
    </header>

    <div class  = "card-student">
        <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="/img/blank_profile.png">
                      </div>
                  <div class="team-content">
                    <h3 class="name"><%= firstname %> <%=lastname %></h3>
                    <h4 class="title"><%= branch %></h4>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </div>
            
    <div class = "container">
        <div class="panel">
            <div class="bio-graph-heading">
                Personal Information
            </div> <br><br>
            <div class="panel-body bio-graph-info">
                <div class="row">
                    <div class="bio-row">
                        <p><span>Name </span>: <%= firstname %> <%= lastname %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Degree </span>: <%= degree %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Branch</span>: <%= branch %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Expected year of graduation</span>: <%= grad %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Personal Email </span>: <%= personal_email %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Mobile</span>: <%= contact_no %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>CGPA </span>: <%= cgpa %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Active Backlogs </span>: <%= active_backlogs %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Class 10th Board </span>: <%= board_10 %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Class 10th Percentage </span>: <%= percent_10 %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Class 12th Board </span>: <%= board_12 %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Class 12th Percentage </span>: <%= percent_12 %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Address </span>: <%= address %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>Country </span>: <%= country %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>State </span>: <%= state %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>City </span>: <%= city %></p>
                    </div>
                    <div class="bio-row">
                        <p><span>LinkdIn </span>: <%= linkdin %></p>
                    </div>
                    <div class="bio-row">
                        <h6> <a class="btn resume" href="<%= resumeUrl %>">View Resume</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>
