<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/student.css">
    <title>Submit Experience</title>
</head>
<body>
    <header class = "header">

        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
            <li class="menu__group"><a class="menu__link r-link text-underlined"  href=<%= profile %> > Home
            </a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%=  read_experience %> >Read Experiences</a></li>
            <li class="menu__group active"><a class="menu__link r-link text-underlined" href=<%=  write_experience %> >Write Experiences</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= company_apply %> >Company</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= applied %> >Applied Companies</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= edit_profile %> >Edit Profile</a></li>
            <li class="menu__group"><a class="menu__link r-link text-underlined" href=<%= log_out %> >Logout</a></li>
          </ul>
        </nav>          
</header>

<div class = "container">
    <div class = "submit-exp">
        <form class="form" action=<%= write_experience %> method="POST">
            <h2>Submit Your Experience</h2>
            <p>
                <input type="text" class = "form-control" id = "companyname" name = "companyname" placeholder="Company Name" required>
            </p>
            <p>
                <input type="text" class = "form-control" id = "branch" name = "branch" placeholder="Branch" required>
            </p>
            <p>
                <input type="text" class = "form-control" id = "choice" name = "choice" placeholder="Internship or Placement" required>
            </p>
            <p>
                <textarea class="form-control" id="experience" rows="6" name = "experience" placeholder="Write your experience"></textarea>
            </p>
            <button class = "btn" type="submit">Submit</button>
          </form>
    </div>
    
</div>

   
     
</body>
</html>
